@page
@model DreamCreationDanceCrew.Pages.Events.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Event</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Event.Type" class="control-label"></label>
<!--
                <input asp-for="Event.Type" class="form-control" />
-->
                <select asp-for="Event.Type" asp-items="Html.GetEnumSelectList<DreamCreationDanceCrew.Models.Types>()">
                    <option value="">Choose a type</option>
                </select>
                <span asp-validation-for="Event.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Date" class="control-label"></label>
                <input asp-for="Event.Date" class="form-control" />
                <span asp-validation-for="Event.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.TimeFrom" class="control-label"></label>
                <input asp-for="Event.TimeFrom" class="form-control" />
                <span asp-validation-for="Event.TimeFrom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.TimeUntil" class="control-label"></label>
                <input asp-for="Event.TimeUntil" class="form-control" />
                <span asp-validation-for="Event.TimeUntil" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Location" class="control-label"></label>
                <input asp-for="Event.Location" class="form-control" />
                <span asp-validation-for="Event.Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Group" class="control-label"></label>
<!--
                <input asp-for="Event.Group" class="form-control" />
-->
<!--
                <select asp-for="Event.Group" asp-items="Html.GetEnumSelectList<DreamCreationDanceCrew.Models.Groups>()">
                    <option value="">Choose a group</option>
                </select>
-->
                <input id="@event.group" type="checkbox" name="Group" value="@event.Groups" checked="@groups.Selected"/>
                <span asp-validation-for="Event.Group" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.BringWith" class="control-label"></label>
                <input asp-for="Event.BringWith" class="form-control" />
                <span asp-validation-for="Event.BringWith" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Event.Description" class="control-label"></label>
                <input asp-for="Event.Description" class="form-control" />
                <span asp-validation-for="Event.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
